.textarea {
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--color-grey-light-4);
  border-radius: var(--border-sm);
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-light);
  resize: none;
}
