.file-input {
  border-radius: var(--border-md);

  &::file-selector-button {
    font: inherit;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    margin-right: 1.2rem;
    border-radius: var(--border-md);
    border: none;
    color: var(--text-light);
    background-color: var(--color-primary-dark);
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}
