.table-actions {
  &__btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &:hover {
      background-color: var(--color-grey-light-2);
    }

    & svg {
      width: 1.6rem;
      height: 1.6rem;
      color: var(--color-grey-dark-1);
      transition: all 0.3s;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__toggle {
    background: none;
    border: none;
    padding: 0.4rem;
    border-radius: var(--border-sm);
    transform: rotate(90deg);

    &:hover {
      background-color: var(--color-grey-light-2);
    }

    & svg {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--color-grey-dark-1);
    }

    @include respond(tab-land) {
      transform: translateX(0.8rem);
      transition: all 0.2s;
    }
  }

  &__list {
    position: fixed;
    overflow: hidden;

    background-color: var(--color-grey-light-1);
    box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
    border-radius: var(--border-md);
  }
}
