.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @include respond(tab-land) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
