.stats-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;

  @include respond(tab-land) {
    flex-wrap: nowrap;
    grid-column: 1 / -1;
    gap: 2.4rem;
  }
}
